body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f0f0e1;
    height: 100%;
}

a {
    font-size: 80px;
    color: #a0ec6e;
}

a:hover {
    color: #659e3e;
}

.title {
    text-align: center;
}

.button {
    display: block;
    margin: 5 auto;
    background-color: #a0ec6e;
}

#aboutMe {
    font-size: 2rem;
}