html, body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f0f0e1;
    height: 100%;
    color: #555;
}

p {
    font-size: 2rem;
}

a {
    font-size: 80px;
    color: #a0ec6e;
    margin: 5px;
}

a:hover {
    color: #7db856;
}

.title {
    text-align: center;
}

.button {
    display: block;
    margin: 5 auto;
    background-color: #a0ec6e;
}

.table-container {
    display: table;
    height: 100%;
    width: 100%;
}

.table-block {
    display: table-row;
    height: 1px;
}

.footer-push {
    height: auto;
}

.image {
    border-color: #bbb;
    border-style: solid;
    border-width: 1px;
}

#footer {
    text-align: center;
}